# Ignore node modules
node_modules/

# Ignore configuration files
config/

# Launch data
launchData.js
launchData.json

# Browser
browser.js
browser.json

# Access tokens
userAccessTokens.js
userAccessTokens.json
